services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_global
    restart: always
    ports:
      - "${PGADMIN_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - global_network

volumes:
  pgadmin_data:

networks:
  global_network:
    external: true
