services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: hours-center-app
    container_name: hours-center-app
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - global_network
    restart: unless-stopped
    environment:
      APP_PORT: ${APP_PORT}
    ports:
      - "${APP_PORT}:${APP_PORT}"

networks:
  global_network:
    external: true
